@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

$fs-style :'Space Mono', monospace;
$fw-reg:400;
$fw-med:500;
$fw-bold:700;



//colors
$neatBlue: #0079FF;
$grayish: #697C9A;
$darkBlue: #4B6A9B;
$reallyDarkBlue: #2B3442;
$whiteSmokish: #F6F8FF;
$pureWhite: #FEFEFE;

// Dark mode colors
$pureWhiteDark: #FFFFFF;
$darkish: #141D2F;
$darkbluish: #1E2A47;